/* Import inter font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Import miama font  */
@import url("https://fonts.cdnfonts.com/css/miama");
/* font-family: 'Miama', sans-serif; */
/* rest css start  */
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* rest css end  */

/* Variable declaration  */
:root {
  --primary: #e6533c;
  --sm-text: #ffffff80;
  --white: #fff;
  --black: #000;
}

/* Global css start  */
header,
nav,
section,
footer {
  display: block;
  float: left;
  width: 100%;
}
/* Button  */

body {
  background-color: var(--black);
  font-family: "Inter", sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.btn-fill,
.btn-out:hover {
  background: var(--primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  color: var(--white);
  transition: all ease-in-out 0.3s;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid var(--primary);
}
.btn-out,
.btn-fill:hover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  color: var(--white);
  transition: all ease-in-out 0.3s;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  background: transparent;
  border: 1px solid var(--white);
}

.section-title {
  color: var(--white);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.section-title-sub {
  color: var(--sm-text);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
p {
  color: var(--sm-text);
  font-weight: 400;
}
.title-info {
  width: 671px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.flex {
  display: flex;
}
.mt-100 {
  margin-top: 100px;
}
.mt-88 {
  margin-top: 88px;
}
/* Global css end  */

/* Header css start  */
header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  width: 100%;
  aspect-ratio: 2;
}
.desk-nav {
  margin-top: 58px;
}
.desk-nav .logo {
  color: var(--primary);
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}
.desk-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  gap: 47px;
}
.nav li a {
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 20px;
}
.nav li a:hover,
.nav li a.active {
  border-radius: 46px;
  background-color: var(--primary);
}
.mobile-nav-ctr .ham {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mobile-nav-ctr .ham span {
  width: 24px;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}
/* Banner section css start  */
.banner-sec {
}
.banner-sec .ba-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 167px;
}
.banner-sec .ba-content .content * {
  margin-top: 28px;
}
.banner-sec .ba-content .content p {
  letter-spacing: 0.5;
}
.banner-sec .ba-content .content .flex {
  gap: 14px;
}
.banner-sec .ba-content .ba-title {
  color: var(--white);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  width: 520px;
}
.banner-sec .ba-content .ba-title span {
  font-family: Miama;
  font-weight: 400;
  font-style: normal;
  line-height: 0;
  font-size: 158px;
}
.banner-sec .ba-content .img {
  position: relative;
}
.banner-sec .ba-content .img .work {
  position: absolute;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
}
.banner-sec .ba-content .img .work h1 {
  color: var(--white);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 100% */
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.five {
  top: 110px;
  right: -56px;
}
.three {
  left: -118px;
  bottom: 47px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.three h1 {
  color: var(--white);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 100% */
  letter-spacing: 0.3px;
}
.three .dot {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 40px;
}
.ba-content .content p {
  width: 520px !important;
}
/* Banner section css end  */

/* Header css end  */

/* Change your habits section start css */
.sect-heading-centre {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 54px;
}
.sect-heading-centre .title-info,
.price-title-area .title-info {
  margin-right: auto;
  margin-left: auto;
}
.cng-habbit-sec .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 40px;
}
.cng-habbit-sec .grid .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.cng-habbit-sec .grid .item .item-img {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 180px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  margin-right: auto;
  margin-left: auto;
}
.cng-habbit-sec .grid .item .item-img img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  scale: 110%;
}
.cng-habbit-sec .grid .item h4 {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-top: 30px;
  margin-bottom: 6px;
}

/* Change your habits section start end */

/* Run extra mile easily section css start */
.run-extra-sec .flex {
  display: flex;
  padding: 30px 54px;
  border-radius: 18px;
  background: #222;
  align-items: center;
  gap: 165px;
}

.run-extra-sec .flex img {
  border-radius: 18px;
}
.run-extra-sec .flex p {
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 34px;
}

/* Run extra mile easily section css end */

/* Trainings and Exercises section css start */

.exercises-sec {
}
.exercises-sec .img-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
}

.exercises-sec .img-gallery .ga-img {
  overflow: hidden;
  height: 202px;
  position: relative;
}
.exercises-sec .img-gallery .ga-img img {
  height: 100%;
}
.exercises-sec .img-gallery .item-1 {
  width: 250px;
  height: 202px;
  position: relative;
}

.exercises-sec .img-gallery .item-2 {
  width: 520px;
  height: 202px;
}
.exercises-sec .img-gallery .item-3 {
  width: 290px;
}
.exercises-sec .img-gallery .item-4 {
  width: 425px;
}
.exercises-sec .img-gallery .item-5 {
  width: 288px;
}
.exercises-sec .img-gallery .item-6 {
  width: 347px;
}
.exercises-sec .img-gallery .item-1 img {
  width: 100%;
  scale: 120%;
  object-fit: cover;
  object-position: center;
}
.exercises-sec .img-gallery .item-2 img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  scale: 120%;
}
.exercises-sec .img-gallery .item-4 img {
  width: 100%;
  scale: 120%;
  object-fit: cover;
  object-position: center;
}
.exercises-sec .img-gallery .item-5 img {
  width: 100%;
  scale: 120%;
  object-fit: cover;
  object-position: center;
}
.exercises-sec .img-gallery .item-6 img {
  width: 100%;
  scale: 120%;
  object-fit: cover;
  object-position: center;
}

.exercises-sec .img-gallery .ga-img .ex-title {
  position: absolute;
  font-weight: 500;
  font-family: Inter;
  font-size: 14px;
  left: 20px;
  bottom: 20px;
  color: var(--white);
  width: 167px;
  z-index: 2;
}
.exercises-sec .img-gallery .item-1 .ex-title {
  bottom: 20px;
  left: 20px;
  color: var(--black);
}
.exercises-sec .img-gallery .item-2 .ex-title {
  top: 20px;
  left: 20px;
  color: var(--white);
}
.exercises-sec .img-gallery .item-4 .ex-title {
  right: 20px;
  top: 20px;
}

.exercises-sec .img-gallery .item-1::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #06ffd280;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.exercises-sec .img-gallery .item-2::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #ff00004d;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.exercises-sec .img-gallery .item-3::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #00000080;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.exercises-sec .img-gallery .item-4::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #00000080;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.exercises-sec .img-gallery .item-5::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #42ff004d;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.exercises-sec .img-gallery .item-6::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #0047ff4d;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
/* Trainings and Exercises section css end */
/* BMI Calculator section start */
.bmi-sec .bmi-title {
  width: 671px;
  margin-left: auto;
  margin-right: auto;
}
.bmi-table {
  background: #ffffff1a;
  padding-top: 52px;
  padding-bottom: 52px;
}
.flex {
  display: flex;
}
.bmi-table .flex {
  justify-content: space-between;
  gap: 175px;
}
.bmi-table .flex .bmi-chart,
.bmi-table .flex .bmi-calc {
  width: 50%;
}
.bmi-table h4 {
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.table {
  width: 100%;
}
.table tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  padding: 15px 20px;
  border: 1px solid #ffffff1a;
}
.table thead {
  color: var(--white);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.table tr {
  border-bottom: none;
  margin-top: -2px;
}
.table tr:last-child {
  border-bottom: 1px solid #ffffff1a;
}
.table tr th,
.table tr td {
  text-align: left !important;
  float: left;
  width: 50%;
}
.table tbody {
  margin-top: -2px;
  color: #ffffff80;
}
.bmi-calc .row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}
.frm-ctr {
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  border: none;
  float: left;
  height: 54px;
}
.frm-ctr::placeholder,
option,
select {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-radius: 8px;
}
option,
select {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 15px 20px;
}
select:hover {
  background: rgba(255, 255, 255, 0.1);
}
.bmi-calc .btn-fill,
.from {
  margin-top: 34px;
}
/* BMI Calculator section end */

/* Meet Our Team section css start  */
.meet-team-sec .title-sec {
  text-align: center;
  margin-bottom: 58px;
}
.meet-team-sec .title-sec p {
  width: 671px;
  margin-right: auto;
  margin-left: auto;
}
.meet-team-sec .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background: #ffffff1a;
  border-radius: 18px;
}
.meet-team-sec .grid .team-item {
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}
.meet-team-sec .grid .team-item img {
  width: 100%;
  scale: 102%;
}
.meet-team-sec .grid .team-item .info {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.meet-team-sec .grid .team-item .info h4 {
  color: var(--white);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
.meet-team-sec .grid .team-item .info p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
/* Meet Our Team section css end  */
/* footer section css start  */
.footer-sec {
  background: rgba(255, 255, 255, 0.1);
}
.mt {
  margin-top: 66px;
}
.footer-sec .logo {
  color: #e6533c;
  font-family: Inter;
  font-size: 70px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%; /* 84px */
}
.footer-sec .flex {
  display: flex;
  gap: 102px;
}
.footer-sec .flex .f-item,
.f-logo {
  width: 50%;
}
.f-info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.f-item h4 {
  font-size: 32px;
  color: var(--white);
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex-col a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
  font-weight: 400;
}
.copyright p {
  text-align: center;
  padding: 40px;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* footer section css end  */

/* Price and package section css start  */
.price-sec .price-title-area {
  text-align: center;
}
.price-ara .plane {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.price-ara .plane .title {
  color: var(--white);
  font-size: 25px;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 20px;
}
.price-ara .plane h1 {
  font-size: 48px;
  color: var(--primary);
  font-weight: 300;
}
.price-ara .plane .price-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #ffffff1a;
  padding: 20px;
  border-radius: 10px;
}
.price-ara .plane .price-item i {
  color: var(--primary);
}
/* Price and package section css end  */
/* Media query start  */

/* Extra small or mobile device css start  */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .title-info {
    width: 100%;
  }
  .mt-100 {
    margin-top: 60px;
  }
  .mt-88 {
    margin-top: 40px;
  }
  .nav {
    display: none;
  }
  .desk-nav {
    margin-top: 50px;
  }
  .banner-sec .ba-content {
    flex-direction: column;
    gap: 58px;
  }
  .banner-sec .ba-content .content {
    width: 100%;
  }

  .banner-sec .ba-content .ba-title {
    font-size: 36px;
    width: 100%;
  }
  .banner-sec .ba-content .ba-title span {
    font-size: 70px;
  }
  .btn-fill,
  .btn-out:hover {
    padding: 16px 30px;
  }
  .btn-out,
  .btn-fill:hover {
    padding: 16px 30px;
  }
  .banner-sec .ba-content .img .work h1 {
    line-height: normal;
    font-size: 30px;
    margin-bottom: 1px;
  }
  .three h1 {
    font-size: 18px !important;
    line-height: normal;
  }
  .banner-sec .ba-content .img .work p {
    font-size: 10px;
    line-height: normal;
  }
  .five {
    top: 39px;
    right: 8px;
  }
  .three {
    left: -8px;
    bottom: 237px;
  }
  .ba-content .content p {
    width: 100% !important;
  }
  .cng-habbit-sec .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-title {
    font-size: 32px;
  }
  .cng-habbit-sec .grid .item p {
    width: calc(100% - 106px);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .run-extra-sec .flex {
    flex-direction: column;
    gap: 30px;
    padding: 33px;
  }
  .run-extra-sec .flex .section-title {
    width: 100%;
  }
  .extra-run-img img {
    width: 100%;
  }
  .run-extra-sec .text-sec .btn-fill {
    width: 100%;
  }
  .exercises-sec .img-gallery {
    margin-top: 30px;
  }
  .exercises-sec .section-title {
    width: 80%;
  }
  .exercises-sec .img-gallery .ga-img {
    height: 128px;
    font-size: 14px;
  }
  .exercises-sec .img-gallery .item-1 {
    width: 52%;
  }
  .exercises-sec .img-gallery .item-2 {
    width: 48%;
  }
  .exercises-sec .img-gallery .item-3 {
    width: 48%;
  }
  .exercises-sec .img-gallery .item-4 {
    width: 52%;
  }
  .exercises-sec .img-gallery .item-5 {
    width: 52%;
  }
  .exercises-sec .img-gallery .item-6 {
    width: 48%;
  }
  .bmi-sec .bmi-title {
    width: 100%;
  }
  .bmi-table .flex {
    flex-direction: column;
    gap: 50px;
  }
  .bmi-table .flex .bmi-chart,
  .bmi-table .flex .bmi-calc {
    width: 100%;
  }
  .meet-team-sec .title-sec p {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
  .meet-team-sec .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-sec .flex {
    flex-direction: column;
    gap: 20px;
  }
  .footer-sec .flex {
    word-wrap: 100%;
  }
  .footer-sec .f-item {
    width: 100% !important;
    margin-top: 30px;
  }
  .footer-sec {
    width: 100% !important;
  }
  .price-ara .plane {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Extra small or mobile device css end  */

/* Medium devices (tablets, 768px and up)  css start */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .nav {
    display: none;
  }
  .desk-nav {
    margin-top: 50px;
  }
  .banner-sec .ba-content {
    flex-direction: column;
    gap: 100px;
  }
  .run-extra-sec .title-info {
    width: 300px;
  }
  .banner-sec .ba-content .content {
    width: 100%;
  }
  .cng-habbit-sec .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .run-extra-sec .flex {
    gap: 30px;
    padding: 33px;
    justify-content: space-between;
  }
  .run-extra-sec .extra-run-img {
    width: 256px;
    overflow: hidden;
    height: 319px;
    border-radius: 18px;
  }
  .run-extra-sec .extra-run-img img {
    object-fit: cover;
    object-position: center !important;
    position: relative;
    /* left: -50px; */
    width: 100%;
  }
  .run-extra-sec .text-sec {
    width: 300px;
  }

  .exercises-sec .img-gallery .item-1 {
    width: 214px;
    height: 202px;
  }
  .exercises-sec .img-gallery .item-2 {
    width: 287px;
    height: 202px;
  }
  .exercises-sec .img-gallery .item-3 {
    width: 211px;
  }
  .exercises-sec .img-gallery .item-4 {
    width: 304px;
  }
  .exercises-sec .img-gallery .item-5 {
    width: 210px;
  }
  .exercises-sec .img-gallery .item-6 {
    width: 198px;
  }
  .exercises-sec .img-gallery .item-1 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .exercises-sec .img-gallery .item-2 img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    scale: 120%;
  }
  .exercises-sec .img-gallery .item-4 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .exercises-sec .img-gallery .item-5 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .exercises-sec .img-gallery .item-6 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .bmi-sec .bmi-title {
    width: 100%;
  }
  .bmi-table .flex {
    flex-direction: column;
    gap: 82px;
  }
  .bmi-table .flex .bmi-chart {
    width: 50%;
  }
  .bmi-table .flex .bmi-calc {
    width: 100%;
  }
  .meet-team-sec .title-sec p {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
  .meet-team-sec .grid .team-item {
    height: 272px;
  }
  .meet-team-sec .grid .team-item img {
    height: 272px;
    object-fit: cover;
    object-position: top;
  }
  .footer-sec .flex {
    flex-direction: column;
    gap: 102px;
  }
  .footer-sec .f-item {
    display: flex;
    gap: 152px;
    width: 100% !important;
  }
  .footer-sec .f-info {
    width: 443px;
  }
  .f-item {
    display: flex;
    flex-direction: row !important;
  }
  .price-ara .plane {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (tablets, 768px and up)  css end */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .mobile-nav-ctr {
    display: none;
  }
  .banner-sec .ba-content {
    flex-direction: column;
    gap: 100px;
  }
  .sect-heading-centre {
    width: 670px;
    text-align: center;
  }

  .run-extra-sec .flex {
    gap: 30px;
    padding: 33px;
  }
  .exercises-sec .img-gallery .item-1 {
    width: 285px;
    height: 202px;
  }
  .exercises-sec .img-gallery .item-2 {
    width: 385px;
    height: 202px;
  }
  .exercises-sec .img-gallery .item-3 {
    width: 289px;
  }
  .exercises-sec .img-gallery .item-4 {
    width: 380px;
  }
  .exercises-sec .img-gallery .item-5 {
    width: 290px;
  }
  .exercises-sec .img-gallery .item-6 {
    width: 289px;
  }
  .exercises-sec .img-gallery .item-1 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .exercises-sec .img-gallery .item-2 img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    scale: 120%;
  }
  .exercises-sec .img-gallery .item-4 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .exercises-sec .img-gallery .item-5 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .exercises-sec .img-gallery .item-6 img {
    width: 100%;
    scale: 120%;
    object-fit: cover;
    object-position: center;
  }
  .footer-sec .flex {
    gap: 80px !important;
  }
  .price-ara .plane {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra large devices (large desktops, 1200px and up) start */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .mobile-nav-ctr {
    display: none;
  }
  .run-extra-sec .flex .section-title {
    width: 400px;
  }
}
/* Extra large devices (large desktops, 1200px and up) end */
/* Ultra-large devices (very large desktops, 1600px and up) start */
@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}
/* Ultra-large devices (very large desktops, 1600px and up) end */

/* Media query end  */
