/* Import inter font  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Import miama font  */
@import url("https://fonts.cdnfonts.com/css/miama");
/* font-family: 'Miama', sans-serif; */
/* rest css start  */
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* rest css end  */

/* Variable declaration  */
:root {
  --primary: #e6533c;
  --sm-text: #ffffff80;
  --white: #fff;
  --black: #000;
}

/* Global css start  */
header,
nav,
section,
footer {
  display: block;
  float: left;
  width: 100%;
}
/* Button  */

body {
  background-color: var(--black);
  font-family: "Inter", sans-serif;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.btn-fill,
.btn-out:hover {
  background: var(--primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  color: var(--white);
  transition: all ease-in-out 0.3s;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid var(--primary);
}
.btn-out,
.btn-fill:hover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  color: var(--white);
  transition: all ease-in-out 0.3s;
  border-radius: 45px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  background: transparent;
  border: 1px solid var(--white);
}

.section-title {
  color: var(--white);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
.section-title-sub {
  color: var(--sm-text);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
}
p {
  color: var(--sm-text);
  font-weight: 400;
}
.flex {
  display: flex;
}
/* Global css end  */

/* Header css start  */
header {
  background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  width: 100%;
  aspect-ratio: 2;
}
.desk-nav {
  margin-top: 58px;
}
.desk-nav .logo {
  color: var(--primary);
  font-family: Inter;
  font-size: 36px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
}
.desk-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  gap: 47px;
}
.nav li a {
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 20px;
}
.nav li a:hover,
.nav li a.active {
  border-radius: 46px;
  background-color: var(--primary);
}
.mobile-nav-ctr .ham {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mobile-nav-ctr .ham span {
  width: 24px;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}
/* Banner section css start  */
.banner-sec {
}
.banner-sec .ba-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 167px;
}
.banner-sec .ba-content .content * {
  margin-top: 28px;
}
.banner-sec .ba-content .content p {
  letter-spacing: 0.5;
}
.banner-sec .ba-content .content .flex {
  gap: 14px;
}
.banner-sec .ba-content .ba-title {
  color: var(--white);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  width: 520px;
}
.banner-sec .ba-content .ba-title span {
  font-family: Miama;
  font-weight: 400;
  font-style: normal;
  line-height: 0;
  font-size: 158px;
}
.banner-sec .ba-content .img {
  position: relative;
}
.banner-sec .ba-content .img .work {
  position: absolute;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
}
.banner-sec .ba-content .img .work h1 {
  color: var(--white);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; /* 100% */
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.five {
  top: 110px;
  right: -56px;
}
.three {
  left: -118px;
  bottom: 47px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.three h1 {
  color: var(--white);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px; /* 100% */
  letter-spacing: 0.3px;
}
.three .dot {
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 40px;
}
.ba-content .content p {
  width: 520px;
}
/* Banner section css end  */
/* Header css end  */

/* Media query start  */
/* Extra small or mobile device css start  */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .nav {
    display: none;
  }
  .desk-nav {
    margin-top: 50px;
  }
  .banner-sec .ba-content {
    flex-direction: column;
    gap: 58px;
  }
  .banner-sec .ba-content .content {
    width: 100%;
  }
  .banner-sec .ba-content .ba-title {
    font-size: 36px;
    width: 100%;
  }
  .banner-sec .ba-content .ba-title span {
    font-size: 70px;
  }
  .btn-fill,
  .btn-out:hover {
    padding: 16px 30px;
  }
  .btn-out,
  .btn-fill:hover {
    padding: 16px 30px;
  }
  .banner-sec .ba-content .img .work h1 {
    line-height: normal;
    font-size: 30px;
    margin-bottom: 1px;
  }
  .three h1 {
    font-size: 18px !important;
    line-height: normal;
  }
  .banner-sec .ba-content .img .work p {
    font-size: 10px;
    line-height: normal;
  }
  .five {
    top: 39px;
    right: 8px;
  }
  .three {
    left: -8px;
    bottom: 237px;
  }
}
.ba-content .content p {
  width: 100%;
}
/* Extra small or mobile device css end  */

/* Medium devices (tablets, 768px and up)  css start */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .nav {
    display: none;
  }
  .desk-nav {
    margin-top: 50px;
  }
  .banner-sec .ba-content {
    flex-direction: column;
    gap: 100px;
  }
  .banner-sec .ba-content .content {
    width: 100%;
  }
}
/* Medium devices (tablets, 768px and up)  css end */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .mobile-nav-ctr {
    display: none;
  }
  .banner-sec .ba-content {
    flex-direction: column;
    gap: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up) start */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .mobile-nav-ctr {
    display: none;
  }
}
/* Extra large devices (large desktops, 1200px and up) end */
/* Ultra-large devices (very large desktops, 1600px and up) start */
@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
  }
}
/* Ultra-large devices (very large desktops, 1600px and up) end */

/* Media query end  */
